---
interface ITimeline {
  title: string;
  items: {
    date: string;
    role: string;
    summary: string;
    stack: string[];
  }[];
}
const { title, items }: ITimeline = Astro.props.journey;
---

<section
  id="timeline"
  class="bg-base-200 h-240 overflow-hidden text-lg text-base-content relative transition-[height] duration-300 ease-in-out"
>
  <div
    class="mx-auto w-screen max-w-screen-xl pt-8 px-4 sm:px-6 lg:px-8 lg:pt-24"
  >
    <h1 class="text-2xl font-bold sm:text-4xl cool-underline">
      {title}
    </h1>
    {
      items.map((item) => (
        <div class="ps-2 my-2 mt-14 not-first-of-type:mt-0 flex flex-col md:flex-row md:gap-x-3">
          <h3 class="font-medium uppercase min-w-26 text-base-content">
            {item.date}
          </h3>
          <div class="flex gap-x-3">
            <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-base-content">
              <div class="relative z-10 size-7 flex justify-center items-center">
                <div class="size-2 rounded-full bg-accent" />
              </div>
            </div>

            <div class="grow pb-8">
              <h3 class="font-semibold text-primary">{item.role}</h3>
              <p class="mt-1 w-auto">{item.summary}</p>
              <ul class="flex flex-wrap items-center gap-2 mt-4">
                {item.stack &&
                  item.stack.map((tech) => (
                    <li class="bg-secondary/40 rounded-lg px-2 py-0.5 text-base">
                      {tech}
                    </li>
                  ))}
              </ul>
            </div>
          </div>
        </div>
      ))
    }
    <div
      id="shadow"
      class="bg-gradient-to-t from-base-200 to-transparent absolute z-10 top-210 left-[50%] w-screen h-30 -translate-x-[50%] pointer-events-none flex items-end justify-center"
    >
      <button
        id="read-more"
        class="relative z-20 bg-secondary/80 rounded px-2 text-secondary-content hover:bg-secondary text-base transition-colors duration-200 ease-in-out pointer-events-auto cursor-pointer"
        >Read more</button
      >
    </div>
    <div class="flex items-center justify-center">
      <button
        id="read-less"
        class="bg-secondary/80 rounded px-2 text-secondary-content hover:bg-secondary text-base transition-colors duration-200 ease-in-out pointer-events-auto cursor-pointer"
        >Read less</button
      >
    </div>
  </div>
</section>

<script src="@scripts/components/AboutJourney.ts"></script>
