---
import Social from "@components/Social.astro";

const { greeting, title, subTitle, content, cta, link, connect } = Astro.props;
---

<section class="lg:grid lg:place-content-center">
  <div
    class="h-[calc(100vh-64px)] mx-auto w-screen max-w-screen-xl px-4 py-32 sm:px-6 sm:py-40 lg:grid lg:grid-cols-2 lg:items-center lg:gap-6 lg:px-8 lg:py-30"
  >
    <div class="max-w-prose text-left md:max-w-full">
      <h3 class="text-primary text-xl">{greeting}</h3>
      <h1 class="mt-4 text-4xl font-bold text-base-content sm:text-5xl">
        {title}
      </h1>
      <h2 class="mt-4 text-primary text-2xl font-bold">
        {subTitle}
      </h2>
      <p
        class="mt-4 text-base text-pretty text-base-content sm:text-lg/relaxed"
      >
        {content}
      </p>
      <p class="mt-4 text-lg">
        {cta}<a
          href="/about"
          class="text-primary hover:text-secondary cursor-pointer">{link}</a
        >{connect}
      </p>
      <Social />
    </div>

    <div class="x-auto hidden lg:flex">
      <img class="x-auto" src="/hero.png" alt="Hero Image" />
    </div>
  </div>
</section>
